<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/KpiOTroianGraduate/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="Hapan9" />
      <add key="ClearTextPassword"
           value="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" />
    </github>
  </packageSourceCredentials>
</configuration>